.navbarMain
{
    background-color: #9b9b9b;
    width: auto;
    display: inline-flex;
    padding-right: 97%;
    position: absolute;
    left: 0px;
    top: 0px;
    color:white
}
.rightNavbarNotificationLogo
{
    /* margin-left: 500%; */
    margin-top: 15px;
    position: absolute;
    right: 15%;
}
.NavBarTitle
{
    margin-left: 20px;
    color: white;
}
.notificationLogo
{
    width: 70%;
}
.userLogo
{
    margin-top: 15px;
    width: 70%;
    height: 50%; 
}
.AccountDetailsDiv{
    position: absolute;
    right: 10%;
    width: 3%;
    height: 100%;
}
.NavBarName
{
    color: white;
    position: absolute;
    right: 3%;
}
.mainBody{
    display: flex;
    margin-top: 80px;
}

.links li{
    margin-top: 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.links ul {
    list-style: none;
    padding-left: 10px;
}
.header-container {
    margin-left: 20%;
    display: flex;
    align-items: center; /* Align items on the same line */
    flex-wrap: wrap; /* Allow the table to move to the next line */
    /* gap: 10px; Adds space between elements */
}

.table-container {
    width: 100%; /* Forces table to take full width and move below */
    margin-top: 0px;
}

.table-container table{
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f8f8f8;
    font-weight: bold;
  }
    
  .checkbox {
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  
  .checkbox.checked {
    background-color: black;
  }
  
  .status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .status.active {
    background-color: green;
  }
  
  .status.inactive {
    background-color: lightgray;
  }
.addStudentsButton
{
  display: block;
  margin-bottom: 5px;
  margin-left: 95%;
}
.students-label{
  display: block;
}
h2{
  font-size: 30;
}



